<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name="net.helcel.cowspent.util.Cowspent"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="net.helcel.cowspent.android.currencies.ManageCurrenciesActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="net.helcel.cowspent.android.main.BillsListViewActivity" />
        </activity>

        <activity
            android:name="net.helcel.cowspent.android.account.AccountActivity"
            android:label="@string/title_account"
            android:parentActivityName="net.helcel.cowspent.android.settings.PreferencesActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:launchMode="standard"
            />

        <activity
            android:name="net.helcel.cowspent.android.settings.PreferencesActivity"
            android:label="@string/action_settings"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="net.helcel.cowspent.android.helper.QrCodeScannerActivity"
            android:label="@string/action_scan_qrcode"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name="net.helcel.cowspent.android.project.create.NewProjectActivity"
            android:label="@string/title_add_project"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cospend" />
                <data android:scheme="cowspent" />
                <data android:host="*" />
                <data android:pathPrefix="/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="cospend+http" />
                <data android:scheme="cowspent+http" />
                <data android:host="*" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.helcel.cowspent.android.project.edit.EditProjectActivity"
            android:label="@string/title_edit_project"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard">
        </activity>

        <activity
            android:name="net.helcel.cowspent.android.bill_edit.EditBillActivity"
            android:label="@string/action_edit"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard">
        </activity>

        <activity
            android:name="net.helcel.cowspent.android.about.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity" />

        <activity
            android:name="net.helcel.cowspent.android.statistics.ProjectStatisticsActivity"
            android:label="@string/title_stats"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="net.helcel.cowspent.android.bill_label.LabelBillsActivity"
            android:label="@string/title_label_bills"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="net.helcel.cowspent.android.label.LabelManagementActivity"
            android:label="@string/title_labels"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="net.helcel.cowspent.android.project.member.MemberManagementActivity"
            android:label="@string/action_members"
            android:parentActivityName="net.helcel.cowspent.android.main.BillsListViewActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>
</manifest>
